.header1{
	margin: auto;
	width: 10px;
	font-family: Arial;
}
ul, ol{
	list-style: none;
}
.nav1 li a{
	background-color: #5D7FA6;
	color: white;
	text-decoration: none;
	padding: 3px 2px;
	display: block;
}
.nav1 li a:hover{
	background-color: #1195b2;
}
.nav1 > li{
	float: left;
}
.nav1 li ul{
	display: none;
	position: absolute;
	min-width: 5px;
}
.nav1 li:hover > ul{
	display: block;
}
.nav1 li ul li{
	position: relative;
}
.nav1 li ul li ul{
	right: -20px;
	top: 0px;
}

/*=================*/

.todo{
  background: #fff;
  width: 90%;
  max-width:1000px;
  margin: auto;
  /*flex*/
  display: flex;
  flex-flow:row wrap;
  border: 2px solid;
}
.seccion{
  background: #5D7FA6;
  padding: 12px;
  /*flex: 1 1 70%;*/
  flex:1;
    color:  rgb(255, 255, 255);
}
.seccion article{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.seccion article:nth-last-child(1){
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.sec_foto{
  background:#99C0BF;
  padding: 0px;
  /*flex*/
  /*flex:1 1 30%;*/
  flex: 0 0 247px;

  display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:flex-start;
  color: rgb(255, 255, 255);
  
}
.widget{
  background:#99C0BF;
  height: 263px;
  margin: 10px;
}
.imagen img{
  width: 227px;
  height: 150px;
}
@media screen and(max-width: 800px){

  .todo{
    flex-direction:column;
  }
  .sec_foto{
    flex-direction:row;
    flex:0;
  }
  .widget{
    flex-grow:1;
  }
}
@media screen and(max-width: 320px){
  .todo{
    border: 1px solid;
  }
  .sec_foto{
    flex-direction:column;
  }